*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
}

h1,
h2 {
  font-size: 3.75rem; /* 60px */
  font-weight: 300;
}

h3 {
  font-size: 2.0625rem; /* 33px */
  font-weight: 300;
}

li {
  list-style: none;
}

nav > ul,
.home-button {
  font-size: 1.3125rem; /* 21px */
  font-weight: 400;
}

p {
  font-size: 1.125rem; /* 18px */
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* Navigation bar */
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: #e0dfdb;
  padding: 1.25rem;
  height: 12vh;
  overflow: hidden;
}

.header__logo-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
}

.header__logo-img {
  width: 7.75rem;
  transition: transform 0.2s linear;
}

.header__logo-img:hover {
  transform: scale(1.05);
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  display: flex;
  align-items: flex-end;
}

.header__nav-link {
  font-size: 1.0625rem;
  padding: 1rem 1.25rem;
  transition: background-color 0.2s linear;
}

.header__nav-link--highlight {
  color: #a2a29b;
  text-shadow: 0.5px 0.5px 0.5px #535443;
}

.header__nav-link:hover {
  background-color: rgba(34, 32, 29, 0.4);
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 15%;
  padding: 3.4375rem;
  background-color: #e0dfdb;
}

.footer__heading {
  font-size: 1.625rem;
  padding-bottom: 0.875rem;
}

.footer__text {
  font-size: 1rem;
}

.footer__social-container {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
}

.footer__social-icon {
  width: 2.5rem;
}
