* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
}

h1,
h2 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 33px;
  font-weight: 300;
}

li {
  list-style: none;
}

nav > ul,
.home-button {
  font-size: 21px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* Navigation bar */
.header__nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff0ed;
  padding: 20px;
  gap: 20px;
}

.header__logo-container {
  display: flex;
  align-items: end;
  gap: 2px;
}

.header__logo-wrapper {
  display: flex;
  flex-direction: column;
}

.header__logo-img {
  width: 45px;
}

.header__logo-title {
  line-height: 1;
  font-size: 2.4375rem;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  display: flex;
  align-items: end;
}

.header__nav-link {
  font-size: 1.0625rem;
  padding: 0 20px;
}

.header__nav-link--highlight {
  color: #5bacc3;
}

.header__nav-link:hover {
  background-color: rgb(200, 200, 200);
}
