* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
}

h1,
h2 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 33px;
  font-weight: 300;
}

li {
  list-style: none;
}

nav > ul,
.home-button {
  font-size: 21px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
