/* General Styles for Navigation, Header, and Footer */
nav,
header > div,
footer {
  background-color: #fff0ed;
}

/* Navigation bar */
.header__nav {
  display: flex;
  background-color: #fff0ed;
  padding: 20px;
  gap: 20px;
}

.header__logo-container {
  display: flex;
  align-items: end;
  gap: 2px;
}

.header__logo-wrapper {
  display: flex;
  flex-direction: column;
}

.header__logo-img {
  width: 45px;
}

.header__logo-title {
  line-height: 1;
  font-size: 2.4375rem;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  display: flex;
  align-items: end;
}

.header__nav-link {
  font-size: 1.0625rem;
  padding: 0 20px;
}

.header__nav-link--highlight {
  color: #5bacc3;
}

.header__nav-link:hover {
  background-color: rgb(200, 200, 200);
}

/* Hero Section */
.header__hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px 100px;
  gap: 300px;
}

.header__hero-content {
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 30px;
}

.header__hero-title {
  line-height: 0.75;
  font-size: 2.875rem;
}

.header__hero-desc {
  font-size: 1rem;
}

.header__hero-img {
  width: 235px;
}

/* Main Product */
.main__products {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  padding: 45px;
}

.main__products-title {
  font-size: 2.875rem;
}

.main__products-list {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.main__product {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  background-color: white;
  width: 260px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
}

.main__product__img-container {
  height: 200px;
}

.main__product__title {
  font-size: 1.625rem;
}

.main__product__img {
  height: 100%;
}

.main__product__price {
  padding-bottom: 4px;
  font-size: 1.625rem;
  font-weight: 400;
  color: #5bacc3;
}

/* Main Discount */
.main__discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 165px 0;
}

.main__discount-text {
  font-size: 2.125rem;
  padding: 30px 73px;
  background-color: #393939;
  color: white;
  font-weight: 400;
}

/* Button */
.button {
  font-size: 1.0625rem;
  background-color: #5bacc3;
  color: white;
  border: none;
  width: 145px;
  padding: 12px;
  margin: 5px 0;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  padding: 55px;
}

.footer__heading {
  font-size: 1.625rem;
  padding-bottom: 14px;
}

.footer__text {
  font-size: 1rem;
}

.main__discount-code {
  font-weight: 700;
}

.footer__social-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.footer__social-icon {
  width: 40px;
}
