/* General Styles for Navigation, Header, and Footer */
nav,
header > div,
footer {
  background-color: #fff0ed;
}

/* Hero Section */
.header__hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 6.25rem;
  gap: 18.75rem;
}

.header__hero-content {
  display: flex;
  flex-direction: column;
  width: 21.25rem;
  gap: 1.875rem;
}

.header__hero-title {
  line-height: 0.75;
  font-size: 2.875rem;
}

.header__hero-desc {
  font-size: 1rem;
}

.header__hero-img {
  width: 14.6875rem;
}

/* Main Product */
.main__products {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 2.8125rem;
  align-items: center;
  padding: 2.8125rem;
}

.main__products-title {
  font-size: 2.875rem;
}

.main__products-list {
  display: flex;
  flex-direction: row;
  gap: 4.375rem;
}

.main__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 18.125rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
}

.main__product__img-container {
  height: 12.5rem;
  margin: 1.875rem;
}

.main__product__img {
  height: 100%;
}

.main__product__desc-container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff0ed;
  padding: 2.5rem 0.3125rem;
  border-radius: 0.625rem;
}

.main__product__title {
  font-size: 1.75rem;
}

.main__product__quantity {
  font-size: 1rem;
  color: #909090;
}

.main__product__price {
  font-size: 1.75rem;
  font-weight: 800;
  color: #5bacc3;
}

/* we-are-different */
.we-are-different {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20%;
  padding: 7.5rem 3.125rem;
}

.we-are-different__content {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  width: 30%;
}

.we-are-different__title {
  line-height: 0.75;
  font-size: 2.875rem;
}

.we-are-different__desc {
  font-size: 1rem;
}

.we-are-different__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.we-are-different__icon {
  width: 3.125rem;
}

.we-are-different__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff0ed;
  width: 21.875rem;
  height: 21.875rem;
}

.we-are-different__image {
  width: 8.75rem;
}

/* Main Discount */
.main__discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10.3125rem 0;
}

.main__discount-text {
  font-size: 2.125rem;
  padding: 1.875rem 4.5625rem;
  background-color: #393939;
  color: white;
  font-weight: 400;
}

/* Button */
.button {
  text-align: center;
  font-size: 1.0625rem;
  background-color: #5bacc3;
  color: white;
  border: none;
  width: 9.0625rem;
  padding: 0.75rem;
  margin: 0.3125rem 0;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6.25rem;
  padding: 3.4375rem;
}

.footer__heading {
  font-size: 1.625rem;
  padding-bottom: 0.875rem;
}

.footer__text {
  font-size: 1rem;
}

.main__discount-code {
  font-weight: 700;
}

.footer__social-container {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
}

.footer__social-icon {
  width: 2.5rem;
}
