/* Navigation bar */
.header__nav {
  display: flex;
  background-color: #fff0ed;
  padding: 20px;
  gap: 20px;
}

.header__logo-container {
  display: flex;
  align-items: end;
  gap: 2px;
}

.header__logo-wrapper {
  display: flex;
  flex-direction: column;
}

.header__logo-img {
  width: 45px;
}

.header__logo-title {
  line-height: 1;
  font-size: 2.4375rem;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  display: flex;
  align-items: end;
}

.header__nav-link {
  font-size: 1.0625rem;
  padding: 0 20px;
}

.header__nav-link--highlight {
  color: #5bacc3;
}

.header__nav-link:hover {
  background-color: rgb(200, 200, 200);
}

/* Hero */
.header__menu-intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/coffee-cta.jpg);
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

.header__menu-title {
  text-align: center;
  font-size: 2.875rem;
  width: 220px;
  height: 30%;
  background-color: #393939;
  color: white;
}

.header__menu-links {
  font-size: 1.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  width: 100%;
  height: 55px;
  padding: 20px;
}

.header__menu-links a {
  padding: 0 20px;
  border-left: #5bacc3 solid 3px;
  text-decoration: none;
  color: white;
}

/* Main */
.main__product > section {
  text-align: center;
  padding: 20px;
}

.main__product > section:nth-child(odd) {
  background-color: #fff0ed;
}

.main__product > section:nth-child(even) {
  background-color: #f7f7f7;
}

.main__section-title {
  padding-bottom: 20px;
  font-size: 2.875rem;
}

.main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__item-title {
  padding: 5px;
  font-size: 1.625rem;
}

.main__item-desc {
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  width: 430px;
}

.main__item-price {
  padding: 5px;
  font-size: 1rem;
  color: #5bacc3;
}
