h1,
h2 {
  font-size: 60px;
  font-weight: 300;
}

h3,
.nav-heading {
  font-size: 33px;
  font-weight: 300;
}

li {
  list-style: none;
}

nav > ul,
.menu-options {
  font-size: 21px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.product > section {
  text-align: center;
}

.product > section:nth-child(odd) {
  background-color: #fff0ed;
}

.product > section:nth-child(even) {
  background-color: #f7f7f7;
}

.product-desc {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  width: 500px;
}

.nav-heading a {
  text-decoration: none;
}

.cta-img {
  background-image: url(../assets/coffee-cta.jpg);
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
}

.menu-title {
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: #393939;
  color: white;
}

.menu-options {
  text-align: center;
  background-color: #393939;
  width: 100%;
}

.menu-options a {
  text-decoration: none;
  color: white;
}

.icon {
  width: 50px;
}

.price {
  color: #5bacc3;
}
