*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
}

h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

h3 {
  font-size: 2.0625rem;
  font-weight: 300;
}

li {
  list-style: none;
}

nav > ul,
.home-button {
  font-size: 1.3125rem;
  font-weight: 400;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* Navigation bar */
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: #e0dfdb;
  padding: 1.25rem;
  height: 12vh;
  overflow: hidden;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  display: flex;
  align-items: flex-end;
}
.header__nav-link {
  font-size: 1.0625rem;
  padding: 1rem 1.25rem;
  transition: background-color 0.2s linear;
}
.header__nav-link--highlight {
  color: #a2a29b;
  text-shadow: 0.5px 0.5px 0.5px #535443;
}
.header__nav-link:hover {
  background-color: rgba(34, 32, 29, 0.4);
}
.header__logo-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
}
.header__logo-img {
  width: 7.75rem;
  transition: transform 0.2s linear;
}
.header__logo-img:hover {
  transform: scale(1.05);
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 15%;
  padding: 3.4375rem;
  background-color: #e0dfdb;
}
.footer__heading {
  font-size: 1.625rem;
  padding-bottom: 0.875rem;
}
.footer__text {
  font-size: 1rem;
}
.footer__social-container {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
}
.footer__social-icon {
  width: 2.5rem;
}

/* Hero */
.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  filter: brightness(0.8);
}
.header__services-intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/coffee-cta.jpg);
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
}
.header__services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.875rem;
  width: 100%;
  height: 30%;
  background-color: rgba(39, 34, 29, 0.4);
  color: white;
}
.header__services-links {
  font-size: 1.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  width: 100%;
  height: 55px;
  padding: 20px;
}
.header__services-links a {
  padding: 0 20px;
  border-left: #878976 solid 3px;
  text-decoration: none;
  color: white;
}

/* Main */
.main__product > section {
  text-align: center;
  padding: 4rem;
}
.main__product > section:nth-child(odd) {
  background-color: #f7f7f7;
}
.main__product > section:nth-child(even) {
  background-color: #fff;
}
.main__product .main__section-title {
  padding-bottom: 20px;
  font-size: 2.875rem;
}
.main__product .main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__product .main__item-title {
  padding: 5px;
  font-size: 1.625rem;
}
.main__product .main__item-desc {
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  width: 430px;
}
.main__product .main__item-price {
  padding: 5px;
  font-size: 1.1rem;
  color: #848863;
}/*# sourceMappingURL=services.css.map */